// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


$gray: #e8ffdd;
$spacer: 8px;

body {
  background: $gray; // Using this variable
}

.btn {
  padding: $spacer ($spacer * 3);
}


