// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


$green: #e8ffdd;
$spacer: 8px;

body {
  background: $green; // Using this variable
  font-family: Helvetica;
}

.btn {
  padding: $spacer ($spacer * 3);
}

